
* {
    /* font-family: 'Balsamiq Sans', cursive; */
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: large;
  }


  .ant-badge-count > .ant-scroll-number-only > .ant-scroll-number-only-unit {
    font-size: 14px !important;
  }

  .thaiFont {
    font-family: 'IBM Plex Sans Thai', sans-serif;
  }